@font-face{
    font-family: "Samin-FD";
    src: url("fonts/Samim-FD.woff") , format("woff");
}
body{
    
    font-family: "Samin-FD" , sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
/* container */
.container{
    width: 100%;
    height: 435px;
    background:linear-gradient(RGBA(13, 70, 80, 0.78) ,RGBA(13, 70, 80, 0.78)), url(img/bg-banner.jpg)center ;
}
/* navbar */
.navbar{
    width: 100%;
    height: 60px;background:
    RGBA(13, 70, 80, 0.78);
    position: fixed;
    z-index: 1000;
}
.navbar .logo{
    width: 110px;
    float: left;
    margin-left: 120px;
    margin-top: 15px;
}
.navbar ul.menu li{
    display: inline;
    list-style: none;
    padding-left: 10px;
    top: 20px;
    position: relative;
    right: 130px;
    color: white;
}
.navbar ul.menu li:hover{
    border-bottom:1px solid black ;
}
/* header */
.header{
    text-align: center;
    padding: 100px 0 100px 0;
}
.header h2{
    color: white;
    padding: 10px 0 20px 0;
}
.header p{
    color: white;
}
header a{
    text-decoration: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
    position: relative;
    top: 20px;
    background-color: rgba(12, 184, 182, 0.91);
}
/* service */

.my-container{
  display: grid;
  grid-template-columns: repeat(3,345px);
  grid-template-rows: repeat(3,233px);
  gap: 10px;
  position: relative;
  top: 50px;
}
.item{
    position: relative;
    right: 80px;
    top: 40px;
    padding: 5px 10px 10px 10px;
    font-size: 15px;
}
.item i{
    padding-bottom: 30px;
}
.item p{
    font-size: 13px;
    color: #999999;
    line-height: 20px;
}
.item h4{
    font-size: 20px;
    padding-bottom: 20px;
}
.item3 h4{
    font-size: 25px;
}
hr{
    height: 3px;
    width: 60px;
    background: #ffb737;
    border: 0;
    margin: 20px 0 20px 0;
}
/* table */
table,td{
    border: 1px solid black;
    border-top: 1px solid rgba(216, 216, 216, .6);
    border-collapse: collapse;
}
td{
    color: white;
    border-top: 1px solid rgba(216, 216, 216, .6);
    /* border: 1px solid rgba(216, 216, 216, .6); */
    padding: 5px 30px 5px 30px;
    text-align: right;
}
.table{
    display: grid;
    grid-template-columns: repeat(3,345px);
    grid-template-rows: repeat(3,153px);
    gap: 1px;
    margin-top: 30px;
    margin-right: 80px;
}
.itemintable{
    position: relative;
    background: #0cb8b6;
    padding:0 10px 10px 10px;
    text-align: right;
}
.itemintable a{
    color: white;
    padding: 5px;
    text-decoration: none;
    border: 1px solid white;
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 10px;
}
.itemintable h4{
    color: white;
    text-align: right;
    padding: 15px 0 10px 10px;
    font-size: 18px;
}
.boxtext{
    display: grid;
    grid-template-columns: repeat(2,350px);
    gap: 80px;
    position: relative;
    bottom: 200px;
    right: 200px;
}
.iteminboxtext{
    width: 90%;
    color: #999999;
}
.iteminboxtext li{
    float: left;
    list-style: none;
    width: 35px;
    height: 35px;
    padding: 6px;
    background: #0cb8b6;
    text-align: center;
    border-radius: 50%;
    color: white;
    font-weight: 900;
    position: relative;
    right: 40px;
    bottom: 40px;
}
.iteminboxtext h3{
    padding-bottom:20px ;
    color: black;
    font-size: 25px;
}

/* about */
.boximg{
    display: flex;
    justify-content: space-around;
    width: 800px;
    position: relative;
    right: 200px;
    bottom: 100px;
}
.img{
    border: 1px solid #999999;
    width:220px;
    height: 370px;
    margin-left: 20px;
}
.img img{
    width: 210px;
    padding: 5px;
}
.img h2{
    padding: 10px;
}
.img p{
    padding: 10px;
}
.img li{
    list-style: none;
    display: inline;
    margin-left: 10px;
    position: relative;
    right: 30px;
    top: 20px;
}
.about h1{
    position: relative;
    right: 160px;
}
.about hr{
    position: relative;
    right: 160px;
}